jeu#CC
  titre Orthographe alternative du nom de voie

  definition Nom de voie exprimé de différentes façons, plus ou moins abrégés mais valides, notamment : {q SAINT} ou abbréviation {q ST}, trait d’union ou pas, prénom omis pour le nom d’une personne...

  exemples
    - Rue du Docteur Charrin / Rue du Dr Charrin
    - Rue Saint-Jacques / Rue Saint Jacques / Rue St Jacques
    - Rue Marcelin Berthelot / Rue Berthelot
